/* SignUp.css */

.tous {
    
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin: 11rem auto;
    width: 50%;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #3a3a3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  